[project]
	description = Libreria para placa de Kit de Robot Velocista Educacion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/thar
[access "refs/for/refs/*"]
	read = group user/thar user/amarsal3
	push = group user/thar user/amarsal3
	label-Code-Review = -2..+2 group user/thar user/amarsal3
	label-Verified = -1..+1 group user/thar user/amarsal3
	rebase = group user/thar user/amarsal3
	removeReviewer = group user/thar
	submit = group user/thar
[access "refs/heads/*"]
	read = group user/thar
	create = group user/thar
	push = +force group user/thar
	pushMerge = group user/thar
[access "refs/tags/*"]
	push = +force group user/thar
	pushTag = group user/thar
	pushSignedTag = group user/thar
