[project]
	description = Libreria para placa de Kit de Robot Velocista Educacion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/for/refs/*"]
	read = group user/Miguel Angel Julian Aguilar (thar)
	push = group user/Miguel Angel Julian Aguilar (thar)
	label-Code-Review = -2..+2 group user/Miguel Angel Julian Aguilar (thar)
	label-Verified = -1..+1 group user/Miguel Angel Julian Aguilar (thar)
	rebase = group user/Miguel Angel Julian Aguilar (thar)
	removeReviewer = group user/Miguel Angel Julian Aguilar (thar)
	submit = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/heads/*"]
	read = group user/Miguel Angel Julian Aguilar (thar)
	create = group user/Miguel Angel Julian Aguilar (thar)
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	pushMerge = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/tags/*"]
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	pushTag = group user/Miguel Angel Julian Aguilar (thar)
	pushSignedTag = group user/Miguel Angel Julian Aguilar (thar)
